html, body {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
}

@import "~materialize-css/sass/materialize.scss";
@import "materialize-custom.scss";
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-control-geocoder/dist/Control.Geocoder.css';
@import '~leaflet.fullscreen/Control.FullScreen.css';

.leaflet-touch .leaflet-control-layers-toggle {
	height: 30px;
	width: 30px;
}

@import "spinner.scss";

.issues{
	margin-top: 49px;
	
	.spinner {
		display: none;
		&:only-child {
			display: unset;
		}
	}

	#issues-map {
		height: calc( 100vh - 113px );
		.spinner {
			display: block;
		}
	}
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	.card {
		height: calc( 100% - 1rem );
		.card-image {
			display: flex;
			align-items: center;
		}
	}
}

#modal-form {
	.card-panel {
		height: calc( 100% - 1rem );
		margin-left: unset;
		margin-right: unset;
	}
	#form-map {
		min-height: 200px;
	}
}
