.modal {
    &.big {
        width: 70%;
        max-height: 90%;
        top: 5% !important;
        &.modal-fixed-footer {
            height: 90%;
        }
        @media #{$medium-and-down} {
          width: 90%;
       }
    }
    &.fullscreen {
        width: 100%;
        height: 100%;
        max-height: 100%;
        top: 0 !important;
        &.modal-fixed-footer {
            height: 100%;
        }
        @media #{$small-and-down} {
            .modal-content {
                padding: 0;
            }
            h3 {
                margin: 12px;
            }
            .card-panel {
                padding: 8px;
                margin-bottom: 7px;
            }
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    .col {
        img {
            max-width: 100%;
        }
    }
}

.sidenav {
    z-index: 1001;
}